

<h1>Ca/Cr Calculator</h1>
<h1>formula: (urine calcium x serum creatinine) / (serum calcium x urine creatinine)</h1>

<p>Ca/Cr ratio is: <%= @result %></p>



<%= link_to 'Back to form', new_calculation_path %>